{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Tokyo cafe</title>
  <link href="{% static 'appcafe/css/default.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'appcafe/js/index.js' %}"></script>
</head>

<body>

<!-- main-visual -->
<title><h1>Tokyo cafe</h1></title>
<!-- /main-visual -->
<div class="layer layer-bg">
  <div class="layer-in layer-txt">
    Remote Workなら<br>宇宙でも仕事ができる
  </div>
</div>
<!-- global-nav -->
<nav class="global-nav">
  <ul>
    <li><a href="#">表参道</a></li>
    <li><a href="#">渋谷</a></li>
    <li><a href="#">蔵前</a></li>
  </ul>
</nav>
<!-- /global-nav -->

<!-- concept -->
<section class="concept">
  <div class="container">
    <div class="img">
      <img src="IMG_8379.jpg" alt="TOKYO CAFE" width="750" height="759">
    </div>
    <div class="desc">
     <div class="subtitle">Concept</div>
       <h2 class="title">東京のカフェ人気エリア紹介</h2>
       <div class="text">
         <p>
           aaaaaa<br>
           iiiiiii<br>
           uuuuu
         </p>
       </div>
    </div>
  </div>
</section>
<!-- /concept -->

<!-- blog -->
<section class="blog">
  <div class="container">
    <h2 class="heading">表参道<span class="subtitle"></span></h2>
    <div class="list">
      <div class="item">
        <a href="#">
          <div class="img"><img src="IMG_7753.jpg" alt="青いトラック" width="700" height="357" /></div>
          <div class="title">SOYO cafe</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="img"><img src="images/thumbnail02.jpg" alt="cafe" width="700" height="357" /></div>
          <div class="title">BOTTA COFFEE</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="img"><img src="images/thumbnail03.jpg" alt="cafe" width="700" height="357" /></div>
          <div class="title">little cloud coffee</div>
       </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="img"><img src="images/thumbnail04.jpg" alt="cafe" width="700" height="357" /></div>
          <div class="title">CBC</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="img"><img src="images/thumbnail05.jpg" alt="cafe" width="700" height="357" /></div>
          <div class="title">cafe</div>
        </a>
      </div>
      <div class="item">
        <a href="#">
          <div class="img"><img src="images/thumbnail06.jpg" alt="cafe" width="700" height="357" /></div>
          <div class="title">cafe</div>
        </a>
      </div>
    </div>
    <a href="#" class="btn">
    ブログ一覧
    </a>
  </div>
</section>
<!-- /blog -->
<p>You can submit articles from the following form.</p>
<form action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <div>
    <label for="titleInput">Title</label><br>
    <input id="titleInput" name="title" type="text" placeholder="Input title">
  </div>
  <div>
    <label for="textInput">Text</label><br>
    <textarea id="textInput" name="text" rows="3"></textarea>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
<!-- footer -->
<footer class="footer">
  <div class="logo"><a href="#"><img src="images/logo-white.png" alt="SKY COFFEE" width="200" height="40"></a></div>
  <div class="copyright">&copy;Sky Coffee</div>
</footer>
<!-- /footer -->

</body>
</html>